In [1]:
import pandas as pd

In [2]:
print("Lets go Vols")
#grant deleted things from this cell

Lets go Vols
100
Orange

In [ ]:
#grant's test
print("smokey")

In [3]:
import sys
from pathlib import Path
source_path = Path.cwd().parent
sys.path.append(str(source_path))

In [4]:
import pathlib

KAGGLE_DATABASE = "hugomathien/soccer"
DATA_PATH = "/Users/grantrwilliams/Library/Mobile Documents/com~apple~Pages/Documents/UTK/Sports_Project/data(db&output_pred)"
from utils import ingest_soccer_data

In [5]:
db = ingest_soccer_data(KAGGLE_DATABASE)

Database ready at: ./data/database.sqlite

In [6]:
%load_ext sql
%sql sqlite:///data/database.sqlite

#The below configuration command is necessary for my SQL outputs to run; remove if it causes errors on your end (possibly my ipython-sql or PrettyTable versions are newer)
%config SqlMagic.style = "_deprecated_default"

In [7]:
%%sql
SELECT name FROM sqlite_schema 
WHERE type = "table"
AND name NOT LIKE "sqlite%"
ORDER BY 1;

 * sqlite:///data/database.sqlite
Done.

[('Country',),
 ('League',),
 ('Match',),
 ('Player',),
 ('Player_Attributes',),
 ('Team',),
 ('Team_Attributes',)]

In [8]:
%%sql
PRAGMA table_info(Country)

 * sqlite:///data/database.sqlite
Done.

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0)]

In [9]:
%%sql
PRAGMA table_info(League)

 * sqlite:///data/database.sqlite
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'country_id', 'INTEGER', 0, None, 0),
 (2, 'name', 'TEXT', 0, None, 0)]

In [10]:
%%sql
PRAGMA table_info(Match)

 * sqlite:///data/database.sqlite
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'country_id', 'INTEGER', 0, None, 0),
 (2, 'league_id', 'INTEGER', 0, None, 0),
 (3, 'season', 'TEXT', 0, None, 0),
 (4, 'stage', 'INTEGER', 0, None, 0),
 (5, 'date', 'TEXT', 0, None, 0),
 (6, 'match_api_id', 'INTEGER', 0, None, 0),
 (7, 'home_team_api_id', 'INTEGER', 0, None, 0),
 (8, 'away_team_api_id', 'INTEGER', 0, None, 0),
 (9, 'home_team_goal', 'INTEGER', 0, None, 0),
 (10, 'away_team_goal', 'INTEGER', 0, None, 0),
 (11, 'home_player_X1', 'INTEGER', 0, None, 0),
 (12, 'home_player_X2', 'INTEGER', 0, None, 0),
 (13, 'home_player_X3', 'INTEGER', 0, None, 0),
 (14, 'home_player_X4', 'INTEGER', 0, None, 0),
 (15, 'home_player_X5', 'INTEGER', 0, None, 0),
 (16, 'home_player_X6', 'INTEGER', 0, None, 0),
 (17, 'home_player_X7', 'INTEGER', 0, None, 0),
 (18, 'home_player_X8', 'INTEGER', 0, None, 0),
 (19, 'home_player_X9', 'INTEGER', 0, None, 0),
 (20, 'home_player_X10', 'INTEGER', 0, None, 0),
 (21, 'home_player_X11', 'INTEGER', 0, None, 0),
 (22, 'away_player_X1', 'INTEGER', 0, None, 0),
 (23, 'away_player_X2', 'INTEGER', 0, None, 0),
 (24, 'away_player_X3', 'INTEGER', 0, None, 0),
 (25, 'away_player_X4', 'INTEGER', 0, None, 0),
 (26, 'away_player_X5', 'INTEGER', 0, None, 0),
 (27, 'away_player_X6', 'INTEGER', 0, None, 0),
 (28, 'away_player_X7', 'INTEGER', 0, None, 0),
 (29, 'away_player_X8', 'INTEGER', 0, None, 0),
 (30, 'away_player_X9', 'INTEGER', 0, None, 0),
 (31, 'away_player_X10', 'INTEGER', 0, None, 0),
 (32, 'away_player_X11', 'INTEGER', 0, None, 0),
 (33, 'home_player_Y1', 'INTEGER', 0, None, 0),
 (34, 'home_player_Y2', 'INTEGER', 0, None, 0),
 (35, 'home_player_Y3', 'INTEGER', 0, None, 0),
 (36, 'home_player_Y4', 'INTEGER', 0, None, 0),
 (37, 'home_player_Y5', 'INTEGER', 0, None, 0),
 (38, 'home_player_Y6', 'INTEGER', 0, None, 0),
 (39, 'home_player_Y7', 'INTEGER', 0, None, 0),
 (40, 'home_player_Y8', 'INTEGER', 0, None, 0),
 (41, 'home_player_Y9', 'INTEGER', 0, None, 0),
 (42, 'home_player_Y10', 'INTEGER', 0, None, 0),
 (43, 'home_player_Y11', 'INTEGER', 0, None, 0),
 (44, 'away_player_Y1', 'INTEGER', 0, None, 0),
 (45, 'away_player_Y2', 'INTEGER', 0, None, 0),
 (46, 'away_player_Y3', 'INTEGER', 0, None, 0),
 (47, 'away_player_Y4', 'INTEGER', 0, None, 0),
 (48, 'away_player_Y5', 'INTEGER', 0, None, 0),
 (49, 'away_player_Y6', 'INTEGER', 0, None, 0),
 (50, 'away_player_Y7', 'INTEGER', 0, None, 0),
 (51, 'away_player_Y8', 'INTEGER', 0, None, 0),
 (52, 'away_player_Y9', 'INTEGER', 0, None, 0),
 (53, 'away_player_Y10', 'INTEGER', 0, None, 0),
 (54, 'away_player_Y11', 'INTEGER', 0, None, 0),
 (55, 'home_player_1', 'INTEGER', 0, None, 0),
 (56, 'home_player_2', 'INTEGER', 0, None, 0),
 (57, 'home_player_3', 'INTEGER', 0, None, 0),
 (58, 'home_player_4', 'INTEGER', 0, None, 0),
 (59, 'home_player_5', 'INTEGER', 0, None, 0),
 (60, 'home_player_6', 'INTEGER', 0, None, 0),
 (61, 'home_player_7', 'INTEGER', 0, None, 0),
 (62, 'home_player_8', 'INTEGER', 0, None, 0),
 (63, 'home_player_9', 'INTEGER', 0, None, 0),
 (64, 'home_player_10', 'INTEGER', 0, None, 0),
 (65, 'home_player_11', 'INTEGER', 0, None, 0),
 (66, 'away_player_1', 'INTEGER', 0, None, 0),
 (67, 'away_player_2', 'INTEGER', 0, None, 0),
 (68, 'away_player_3', 'INTEGER', 0, None, 0),
 (69, 'away_player_4', 'INTEGER', 0, None, 0),
 (70, 'away_player_5', 'INTEGER', 0, None, 0),
 (71, 'away_player_6', 'INTEGER', 0, None, 0),
 (72, 'away_player_7', 'INTEGER', 0, None, 0),
 (73, 'away_player_8', 'INTEGER', 0, None, 0),
 (74, 'away_player_9', 'INTEGER', 0, None, 0),
 (75, 'away_player_10', 'INTEGER', 0, None, 0),
 (76, 'away_player_11', 'INTEGER', 0, None, 0),
 (77, 'goal', 'TEXT', 0, None, 0),
 (78, 'shoton', 'TEXT', 0, None, 0),
 (79, 'shotoff', 'TEXT', 0, None, 0),
 (80, 'foulcommit', 'TEXT', 0, None, 0),
 (81, 'card', 'TEXT', 0, None, 0),
 (82, 'cross', 'TEXT', 0, None, 0),
 (83, 'corner', 'TEXT', 0, None, 0),
 (84, 'possession', 'TEXT', 0, None, 0),
 (85, 'B365H', 'NUMERIC', 0, None, 0),
 (86, 'B365D', 'NUMERIC', 0, None, 0),
 (87, 'B365A', 'NUMERIC', 0, None, 0),
 (88, 'BWH', 'NUMERIC', 0, None, 0),
 (89, 'BWD', 'NUMERIC', 0, None, 0),
 (90, 'BWA', 'NUMERIC', 0, None, 0),
 (91, 'IWH', 'NUMERIC', 0, None, 0),
 (92, 'IWD', 'NUMERIC', 0, None, 0),
 (93, 'IWA', 'NUMERIC', 0, None, 0),
 (94, 'LBH', 'NUMERIC', 0, None, 0),
 (95, 'LBD', 'NUMERIC', 0, None, 0),
 (96, 'LBA', 'NUMERIC', 0, None, 0),
 (97, 'PSH', 'NUMERIC', 0, None, 0),
 (98, 'PSD', 'NUMERIC', 0, None, 0),
 (99, 'PSA', 'NUMERIC', 0, None, 0),
 (100, 'WHH', 'NUMERIC', 0, None, 0),
 (101, 'WHD', 'NUMERIC', 0, None, 0),
 (102, 'WHA', 'NUMERIC', 0, None, 0),
 (103, 'SJH', 'NUMERIC', 0, None, 0),
 (104, 'SJD', 'NUMERIC', 0, None, 0),
 (105, 'SJA', 'NUMERIC', 0, None, 0),
 (106, 'VCH', 'NUMERIC', 0, None, 0),
 (107, 'VCD', 'NUMERIC', 0, None, 0),
 (108, 'VCA', 'NUMERIC', 0, None, 0),
 (109, 'GBH', 'NUMERIC', 0, None, 0),
 (110, 'GBD', 'NUMERIC', 0, None, 0),
 (111, 'GBA', 'NUMERIC', 0, None, 0),
 (112, 'BSH', 'NUMERIC', 0, None, 0),
 (113, 'BSD', 'NUMERIC', 0, None, 0),
 (114, 'BSA', 'NUMERIC', 0, None, 0)]

In [11]:
%%sql
PRAGMA table_info(Player)

 * sqlite:///data/database.sqlite
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'player_api_id', 'INTEGER', 0, None, 0),
 (2, 'player_name', 'TEXT', 0, None, 0),
 (3, 'player_fifa_api_id', 'INTEGER', 0, None, 0),
 (4, 'birthday', 'TEXT', 0, None, 0),
 (5, 'height', 'INTEGER', 0, None, 0),
 (6, 'weight', 'INTEGER', 0, None, 0)]

In [12]:
%%sql
PRAGMA table_info(Player_Attributes)

 * sqlite:///data/database.sqlite
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'player_fifa_api_id', 'INTEGER', 0, None, 0),
 (2, 'player_api_id', 'INTEGER', 0, None, 0),
 (3, 'date', 'TEXT', 0, None, 0),
 (4, 'overall_rating', 'INTEGER', 0, None, 0),
 (5, 'potential', 'INTEGER', 0, None, 0),
 (6, 'preferred_foot', 'TEXT', 0, None, 0),
 (7, 'attacking_work_rate', 'TEXT', 0, None, 0),
 (8, 'defensive_work_rate', 'TEXT', 0, None, 0),
 (9, 'crossing', 'INTEGER', 0, None, 0),
 (10, 'finishing', 'INTEGER', 0, None, 0),
 (11, 'heading_accuracy', 'INTEGER', 0, None, 0),
 (12, 'short_passing', 'INTEGER', 0, None, 0),
 (13, 'volleys', 'INTEGER', 0, None, 0),
 (14, 'dribbling', 'INTEGER', 0, None, 0),
 (15, 'curve', 'INTEGER', 0, None, 0),
 (16, 'free_kick_accuracy', 'INTEGER', 0, None, 0),
 (17, 'long_passing', 'INTEGER', 0, None, 0),
 (18, 'ball_control', 'INTEGER', 0, None, 0),
 (19, 'acceleration', 'INTEGER', 0, None, 0),
 (20, 'sprint_speed', 'INTEGER', 0, None, 0),
 (21, 'agility', 'INTEGER', 0, None, 0),
 (22, 'reactions', 'INTEGER', 0, None, 0),
 (23, 'balance', 'INTEGER', 0, None, 0),
 (24, 'shot_power', 'INTEGER', 0, None, 0),
 (25, 'jumping', 'INTEGER', 0, None, 0),
 (26, 'stamina', 'INTEGER', 0, None, 0),
 (27, 'strength', 'INTEGER', 0, None, 0),
 (28, 'long_shots', 'INTEGER', 0, None, 0),
 (29, 'aggression', 'INTEGER', 0, None, 0),
 (30, 'interceptions', 'INTEGER', 0, None, 0),
 (31, 'positioning', 'INTEGER', 0, None, 0),
 (32, 'vision', 'INTEGER', 0, None, 0),
 (33, 'penalties', 'INTEGER', 0, None, 0),
 (34, 'marking', 'INTEGER', 0, None, 0),
 (35, 'standing_tackle', 'INTEGER', 0, None, 0),
 (36, 'sliding_tackle', 'INTEGER', 0, None, 0),
 (37, 'gk_diving', 'INTEGER', 0, None, 0),
 (38, 'gk_handling', 'INTEGER', 0, None, 0),
 (39, 'gk_kicking', 'INTEGER', 0, None, 0),
 (40, 'gk_positioning', 'INTEGER', 0, None, 0),
 (41, 'gk_reflexes', 'INTEGER', 0, None, 0)]

In [13]:
%%sql
PRAGMA table_info(Team)

 * sqlite:///data/database.sqlite
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'team_api_id', 'INTEGER', 0, None, 0),
 (2, 'team_fifa_api_id', 'INTEGER', 0, None, 0),
 (3, 'team_long_name', 'TEXT', 0, None, 0),
 (4, 'team_short_name', 'TEXT', 0, None, 0)]

In [14]:
%%sql
PRAGMA table_info(Team_Attributes)

 * sqlite:///data/database.sqlite
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'team_fifa_api_id', 'INTEGER', 0, None, 0),
 (2, 'team_api_id', 'INTEGER', 0, None, 0),
 (3, 'date', 'TEXT', 0, None, 0),
 (4, 'buildUpPlaySpeed', 'INTEGER', 0, None, 0),
 (5, 'buildUpPlaySpeedClass', 'TEXT', 0, None, 0),
 (6, 'buildUpPlayDribbling', 'INTEGER', 0, None, 0),
 (7, 'buildUpPlayDribblingClass', 'TEXT', 0, None, 0),
 (8, 'buildUpPlayPassing', 'INTEGER', 0, None, 0),
 (9, 'buildUpPlayPassingClass', 'TEXT', 0, None, 0),
 (10, 'buildUpPlayPositioningClass', 'TEXT', 0, None, 0),
 (11, 'chanceCreationPassing', 'INTEGER', 0, None, 0),
 (12, 'chanceCreationPassingClass', 'TEXT', 0, None, 0),
 (13, 'chanceCreationCrossing', 'INTEGER', 0, None, 0),
 (14, 'chanceCreationCrossingClass', 'TEXT', 0, None, 0),
 (15, 'chanceCreationShooting', 'INTEGER', 0, None, 0),
 (16, 'chanceCreationShootingClass', 'TEXT', 0, None, 0),
 (17, 'chanceCreationPositioningClass', 'TEXT', 0, None, 0),
 (18, 'defencePressure', 'INTEGER', 0, None, 0),
 (19, 'defencePressureClass', 'TEXT', 0, None, 0),
 (20, 'defenceAggression', 'INTEGER', 0, None, 0),
 (21, 'defenceAggressionClass', 'TEXT', 0, None, 0),
 (22, 'defenceTeamWidth', 'INTEGER', 0, None, 0),
 (23, 'defenceTeamWidthClass', 'TEXT', 0, None, 0),
 (24, 'defenceDefenderLineClass', 'TEXT', 0, None, 0)]

In [15]:
%%sql
Player_Attributes << SELECT FROM Player_Attributes;

 * sqlite:///data/database.sqlite
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT FROM Player_Attributes;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [16]:
%%sql
WITH test AS (SELECT * FROM Match WHERE home_team_api_id NOT NULL AND away_team_api_id NOT NULL)
SELECT COUNT(*) FROM test;

 * sqlite:///data/database.sqlite
Done.

[(25979,)]

In [17]:
%%sql
SELECT COUNT(*) FROM Match;

 * sqlite:///data/database.sqlite
Done.

[(25979,)]

In [18]:
%%sql
SELECT * FROM Match LIMIT 5;

 * sqlite:///data/database.sqlite
Done.

[(1, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492473, 9987, 9993, 1, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.73, 3.4, 5, 1.75, 3.35, 4.2, 1.85, 3.2, 3.5, 1.8, 3.3, 3.75, None, None, None, 1.7, 3.3, 4.33, 1.9, 3.3, 4, 1.65, 3.4, 4.5, 1.78, 3.25, 4, 1.73, 3.4, 4.2),
 (2, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492474, 10000, 9994, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.95, 3.2, 3.6, 1.8, 3.3, 3.95, 1.9, 3.2, 3.5, 1.9, 3.2, 3.5, None, None, None, 1.83, 3.3, 3.6, 1.95, 3.3, 3.8, 2, 3.25, 3.25, 1.85, 3.25, 3.75, 1.91, 3.25, 3.6),
 (3, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492475, 9984, 8635, 0, 3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 2.38, 3.3, 2.75, 2.4, 3.3, 2.55, 2.6, 3.1, 2.3, 2.5, 3.2, 2.5, None, None, None, 2.5, 3.25, 2.4, 2.63, 3.3, 2.5, 2.35, 3.25, 2.65, 2.5, 3.2, 2.5, 2.3, 3.2, 2.75),
 (4, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492476, 9991, 9998, 5, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.44, 3.75, 7.5, 1.4, 4, 6.8, 1.4, 3.9, 6, 1.44, 3.6, 6.5, None, None, None, 1.44, 3.75, 6, 1.44, 4, 7.5, 1.45, 3.75, 6.5, 1.5, 3.75, 5.5, 1.44, 3.75, 6.5),
 (5, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492477, 7947, 9985, 1, 3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5, 3.5, 1.65, 5, 3.5, 1.6, 4, 3.3, 1.7, 4, 3.4, 1.72, None, None, None, 4.2, 3.4, 1.7, 4.5, 3.5, 1.73, 4.5, 3.4, 1.65, 4.5, 3.5, 1.65, 4.75, 3.3, 1.67)]

In [19]:
%%sql
SELECT * FROM Player
WHERE height >= 200;

 * sqlite:///data/database.sqlite
Done.

[(35, 564712, 'Abdoul Ba', 225050, '1994-02-08 00:00:00', 200.66, 212),
 (1032, 46518, 'Asmir Begovic', 172723, '1987-06-20 00:00:00', 200.66, 183),
 (1301, 150209, 'Bogdan Milic', 189967, '1987-11-24 00:00:00', 203.2, 216),
 (1926, 103428, 'Costel Pantilimon', 192613, '1987-02-01 00:00:00', 203.2, 212),
 (2106, 188058, 'Daniel Burn', 198032, '1992-05-09 00:00:00', 200.66, 192),
 (2250, 33330, 'Danny Wintjens', 28097, '1983-09-30 00:00:00', 200.66, 168),
 (3274, 601304, 'Fejsal Mulic', 226114, '1994-10-03 00:00:00', 203.2, 185),
 (3556, 95336, 'Fraser Forster', 172203, '1988-03-17 00:00:00', 200.66, 198),
 (5568, 26585, 'Jurgen Wevers', 148875, '1979-01-12 00:00:00', 203.2, 212),
 (5804, 96465, 'Kevin Vink', 193674, '1984-07-30 00:00:00', 203.2, 194),
 (5873, 361334, 'Konrad Jalocha', 211621, '1991-05-09 00:00:00', 200.66, 187),
 (5908, 148325, 'Kristof van Hout', 185306, '1987-02-09 00:00:00', 208.28, 243),
 (5957, 150297, 'Lacina Traore', 199074, '1990-05-20 00:00:00', 203.2, 192),
 (8016, 38567, 'Nikola Zigic', 167515, '1980-09-25 00:00:00', 203.2, 212),
 (8285, 41129, 'Paolo Acerbis', 137130, '1981-05-05 00:00:00', 203.2, 190),
 (8553, 30830, 'Peter Crouch', 51257, '1981-01-30 00:00:00', 200.66, 185),
 (8638, 39522, 'Pietro Marino', 178389, '1986-11-21 00:00:00', 203.2, 209),
 (9034, 32786, 'Robert Jones', 155018, '1979-11-03 00:00:00', 200.66, 170),
 (9916, 27372, 'Stefan Maierhofer', 179549, '1982-08-16 00:00:00', 203.2, 216),
 (10574, 543021, 'Vanja Milinkovic-Savic', 224836, '1997-02-20 00:00:00', 203.2, 203),
 (10832, 93450, 'Wojciech Kaczmarek', 188920, '1983-03-29 00:00:00', 200.66, 218),
 (11043, 30850, 'Zeljko Kalac', 51883, '1972-12-16 00:00:00', 203.2, 209)]