In [2]:
import sys
import pathlib
source_path = pathlib.Path.cwd().resolve().parent
sys.path.append(str(source_path))

In [3]:
from config import *
from utils import ingest_kaggle_database
import xgboost
from sklearn.linear_model import LogisticRegression
import joblib

In [4]:
ingest_kaggle_database(SOCCER_DATABASE)

In [5]:
%load_ext sql
%sql sqlite:///../data/database.sqlite
%config SqlMagic.style = "_deprecated_default"

In [6]:
%%sql
SELECT name FROM sqlite_schema
WHERE type = "table"
AND name NOT LIKE "sqlite%";

 * sqlite:///../data/database.sqlite
Done.

[('Player_Attributes',),
 ('Player',),
 ('Match',),
 ('League',),
 ('Country',),
 ('Team',),
 ('Team_Attributes',)]