In [22]:
import sys
import pathlib
source_path = pathlib.Path.cwd().resolve().parent
sys.path.append(str(source_path))

In [23]:
from config import *
from utils import ingest_kaggle_database
import pandas as pd

ingest_kaggle_database(SOCCER_DATABASE)

In [24]:
%load_ext sql
%sql sqlite:///../data/database.sqlite
%config SqlMagic.style = "_deprecated_default"

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [25]:
%%sql
SELECT name FROM sqlite_schema
WHERE type = "table"
AND name NOT LIKE "sqlite%"
ORDER BY 1;

 * sqlite:///../data/database.sqlite
Done.

[('Country',),
 ('League',),
 ('Match',),
 ('Player',),
 ('Player_Attributes',),
 ('Team',),
 ('Team_Attributes',)]

In [26]:
#Aiden: You can start off your part by running PRAGMA table_info(name) for each of the tables

In [27]:
%%sql
PRAGMA table_info(Country)

 * sqlite:///../data/database.sqlite
Done.

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0)]

In [28]:
%%sql
SELECT * FROM Country LIMIT 5;

 * sqlite:///../data/database.sqlite
Done.

[(1, 'Belgium'),
 (1729, 'England'),
 (4769, 'France'),
 (7809, 'Germany'),
 (10257, 'Italy')]